.Board-board{
    background-color: white;
    position: relative;
    
    width: 35vw;
    height: 35vw;
    overflow: hidden;
    border-radius: 3vw;
    /* border: 2px solid rgba(255, 255, 255, 0.404); */
    box-shadow: 10px 10px 199px -15px rgba(0,0,0,0.68);

    /* background: rgba(255, 255, 255, 0.012); */
    /* backdrop-filter: blur(20px); */
}
.Board-row{
    height: 33.33%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
@media only screen and (orientation: portrait){
    .Board-board{
        width: 60vw;
        height: 60vw;
        border-radius: 7vw;
    }
    .Board-board{
        /* box-shadow: 10px 10px 199px 5px rgba(0,0,0,0.68); */
    }
}