.Move-button{
    border: 2px solid #FF00F5;
    width: 60%;
    margin: 3vh auto;
    border-radius: 5vh;
    transition: background-color 0.3s;
    cursor: pointer;
}
.Move-button:hover{
    background-color:  #ed13f5;
}
.Move-button:hover.Move-button p{
    color: white;
}
.Move-button p{
    /* background-color: antiquewhite; */
    margin: 1.5vh 0;
    text-align: center;
    font-size: 3vh;
    font-weight: 300;
    color: #3000EE; 
}


@media only screen and (orientation: portrait){
    .Move-button p{
        margin: 1vh 0;
        font-size: 2.5vh;
    }
    .Move-button{
        outline: none;
        user-select: none;
        -webkit-tap-highlight-color: none;
    }
}