.Square-button{
    width: 33.33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    /* border-right: 1px rgb(100, 0, 194) solid; */
    border-right: 1px rgb(100, 0, 194)  solid;
    border-top: 1px  rgb(100, 0, 194)  solid;
    transition: 0.5s;
}
.Square-button:hover{
    background-color: rgba(140, 0, 255, 0.301);
}
.Square-button:active{
    background-color: #d400ff;
    /* transition: 1s; */
}
.Square-button img{
    width: 70%;
    height: 70%;
    user-select: none;
    -webkit-user-drag: none;
}