@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap"); /* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap'); */
/* width */
::-webkit-scrollbar {
	width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
	/* box-shadow: inset 0 0 5px grey; 
  border-radius: 10px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #6800c9;
	border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #8414ec;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.App-container {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: row;
	font-family: "Poppins", sans-serif;
}
.App-boardView {
	width: 70%;
	height: 100%;
	/* background-image: linear-gradient(to bottom right, #3000EE, #FF00F5); */
	background: linear-gradient(137.73deg, #3000ee 0%, #ff00f5 101.05%);
	background-size: 200% 200%;
	display: flex;
	justify-content: center;
	align-items: center;
	animation: bg 2.5s alternate infinite linear;
	position: relative;
}
@keyframes bg {
	0% {
		background-position: 100%;
	}
	50% {
		background-position: 50%;
	}
	100% {
		background-position: 100%;
	}
}
.App-moveView {
	width: 30%;
	height: 100%;
	/* background-color: antiquewhite; */
	overflow-y: scroll;
	position: relative;
}
.App-status {
	width: 85%;
	height: 8vh;
	background-color: #4f00ff;
	color: white;
	font-weight: 600;
	font-size: 3.5vh;
	margin: 2vh auto;
	text-align: center;
	vertical-align: middle;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	position: sticky;
	top: 2vh;
	box-shadow: -2px 2px 41px 3px rgba(0, 0, 0, 0.61);
}
@media only screen and (orientation: portrait) {
	.App-container {
		flex-direction: column;
	}
	.App-boardView {
		width: 100%;
		height: 60%;
	}
	.App-moveView {
		width: 100%;
		height: 40%;
	}
	.App-status {
		height: 6vh;
		font-size: 3vh;
		box-shadow: -2px 2px 30px 3px rgba(0, 0, 0, 0.61);
	}
}
